.whiteComponent {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 48%;
  padding: 1.3rem;
  border-radius: 15px;
}
.sectionPart1 p {
  padding: 0.5rem 0;
  color: var(--dark, #031432);
  font-family: Poppins;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
}
.sectionPart2 {
  padding: 0.4rem 0;
  display: flex;
  gap: 1rem;
}

.whiteImg img {
  width: 100%;
}
.whiteText h2 {
  padding: 0.2rem 0;
  color: var(--green, #00bfa5);
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
}
.whiteText p {
  color: var(--Second, #6c87ae);
  font-family: Sora;
  font-size: 0.75rem;
  font-weight: 400;
}
